
<article class="main-article">
<div class="container container--narrow flow">
  

    <figure class="main-article__figure">
      <img src="{{ image }}" alt="{{ imageALt }}">
      <figcaption> 
        {{ imageAlt }}
      </figcaption>
    </figure>
    {{ content |safe }}
  
</div>
</article>


<div class="card-body">
<div class="grid-container">
        <article class="card">
            <div class="cover">
                <div class="cover_text">
                    <h1 class="cover_title">Movie</h1>
                    <h4 class="cover_subtitle">Netflix</h4>
                </div>
                <img src="../assets/theHarderTheyFall.jpg" alt="" class="watermark">
                <div class="pb-wrapper">
                    <a href="https://www.netflix.com/search?q=harder%20they%20fall"><button class="play-button">&#x2bc8</button></a>
                </div>
            </div>
            <div class="description">
                <h1 class="pl-name">The Harder They  Fall</h1>
                <p class="pl-about">When an outlaw discovers his enemy is being released from prison, he reunites his gang to seek revenge.</p>
            </div>
        </article>

        <article class="card">
            <div class="cover">
                <div class="cover_text">
                    <h1 class="cover_title">Music</h1>
                    <h4 class="cover_subtitle">Spotify</h4>
                </div>
                <img src="../assets/certifiedLoverRR.jpg" alt="" class="watermark">
                <div class="pb-wrapper">
                    <a href="https://open.spotify.com/album/3SpBlxme9WbeQdI9kx7KAV"><button class="play-button">&#x2bc8</button></a>
                </div>
                
            </div>
            <div class="description">
                <h1 class="pl-name">Drake, Certified Lover </h1>
                <p class="pl-about">His latest set, Certified Lover Boy, finally eclipsed that peak: It pulled in 153.4 million global Spotify chart streams on release day.</p>
            </div>
        </article>

        <article class="card">
            <div class="cover">
                <div class="cover_text">
                    <h1 class="cover_title"> Drinks</h1>
                    <h4 class="cover_subtitle">tasty</h4>
                </div>
                <img src="../assets/spicedCider2.jpg" alt="" class="watermark">
                <div class="pb-wrapper">
                    <a href="https://tasty.co/recipe/spiked-apple-cider"><button class="play-button">&#x2bc8</button></a>
                </div>
                
            </div>
            <div class="description">
                <h1 class="pl-name">Spiced Apple Cider</h1>
                <p class="pl-about">Perfect hot or cold, it’s only made better by adding a shot of your favorite bourbon or spiced rum. </p>
            </div>
        </article>
    </div>
</div>

