 <header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        
        


      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Happy Hour</a>
          </li>
          <li>
          <a href=""> Games</a>
          </li>
          
        </ul>
      </nav>
    </div>
  </div>
</header>