---
title: My Homepage
layout: "base.njk"
---
<div class="hero-container">
<section class="hero" >
  <div class="container flow" >
      <div class="hero__content flow">
        <h1 class="section-title hero-title">Listen, Watch, Drink and share the fun!</h1>
        <p class="hero-p">We got more than lemons, we got limes! Why not use them for Happy Hour!</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Learn more</a>
          <a href="./blog" class="btn btn--neutral">Start Happy Hour</a>
        </div>
      </div>
      <div>
        {#<img src="//unsplash.it/510" alt="" class="hero__image">#}
      </div>
  </div>
</section>
</div>

<section id="featured-articles" class="featured-articles">
  <div class="container flow" id=" hero-section" >
    <h2 class="section-title text-center ">About Lime</h2>
    <p class="text-center">Why we created all this good stuff</p>
   {# <ul role="list" class="articles__list flow">
      
      {%- for post in collections.main | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor %}

         
    </ul>#}

  
<section class="hero" >
  <div class="container flow" >
      <div class="hero__content-p flow-p">
        <h1 class="section-title">Lime </h1>
        <p class="hero-pRight">I use this space to document my adventures in front-end development, sharing how I’ve overcome issues I’ve run into, useful resources, and more.</p>
        <p class="hero-pRight">Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
        
      </div>
      <div>
        <img src="./assets/blog/covid.gif" alt="" class="hero__image">
      </div>
  </div>
</section>

<section class="hero" >
  <div class="container flow" >

      <div>
        <img src="./assets/blog/missHand.gif" alt="" class="hero__image hero-imageLeft">
      </div>

      <div class="hero__content-p flow-p">
        <h1 class="section-titleLeft">Connect again</h1>
        <p class="hero-pLeft">I use this space to document my adventures in front-end development, sharing how I’ve overcome issues I’ve run into, useful resources, and more.</p>
        <p class="hero-pLeft">Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
        
      </div>

  </div>
</section>

<section class="hero" >
  <div class="container flow" >
      <div class="hero__content-p flow-p">
        <h1 class="section-title">Share Happy Hour </h1>
        <p class="hero-pRight">I use this space to document my adventures in front-end development, sharing how I’ve overcome issues I’ve run into, useful resources, and more.</p>
        <p class="hero-pRight">Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
        
      </div>
      <div>
        <img src="./assets/blog/happyHour.gif" alt="" class="hero__image">
      </div>
  </div>
</section>

  

{#
////////////////////////////////////////origin section


<div class="hero-container">
<section class="hero" >
  <div class="container flow" >
      <div class="hero__content flow">
        <h1 class="section-title">Welcome to my blog!</h1>
        <p>I use this space to document my adventures in front-end development, sharing how I’ve overcome issues I’ve run into, useful resources, and more.</p>
        <p>Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          <a href="./blog" class="btn btn--neutral">Most recent articles</a>
        </div>
      </div>
      <div>
        <img src="//unsplash.it/510" alt="" class="hero__image">
      </div>
  </div>
</section>
</div>#}

    

